<?xml version="1.0"?>
<launch>

 <arg name="model" value="$(env ROBOT_MODEL)" />

 <node pkg="joy" type="joy_node" name="ps4_joy" output="screen" respawn="true">
   <param name="dev" type="string" value="/dev/input/js_base" />
 </node>
  
 <node name="base_pad" pkg="rbsherpa_hl_pad" type="rbsherpa_hl_pad" output="screen">
   <!-- Parameters -->
   <param name="cmd_topic_vel" value="cmd_vel" type="string"/>
   <rosparam command="load" file="$(find rbsherpa_hl_pad)/config/base_ps4_$(arg model).yaml" />
 </node> 
 
 <node name="base_twist_mux" pkg="twist_mux" type="twist_mux" required="true" >
   <rosparam command="load" file="$(find rbsherpa_hl_pad)/config/twist_mux.yaml" />
   <remap from="cmd_vel_out" to="cmd_vel"/>
 </node>

</launch>

