footprint: [[0.65, -0.38], [0.65, 0.38], [-0.60,0.38], [-0.6, -0.38]]

publish_frequency: 1.0

inflation_layer:
  cost_scaling_factor: 5.0  # Default 10.0
  inflation_radius: 0.4     # Default 0.3


obstacle_laser_layer:
  obstacle_range: 2.5
  raytrace_range: 5.5
  observation_sources: front_laser rear_laser
  front_laser: 
    sensor_frame: $(arg prefix)front_laser_link
    data_type: LaserScan
    topic: $(arg front_scan_topic)
    marking: true
    clearing: true
  rear_laser: 
    sensor_frame: $(arg prefix)rear_laser_link
    data_type: LaserScan
    topic: $(arg rear_scan_topic)
    marking: true
    clearing: true

obstacle_camera_layer:
  obstacle_range: 2.5
  raytrace_range: 5.5
  observation_sources: front_rgbd_to_scan
  front_rgbd_to_scan:
    data_type: LaserScan
    topic: $(arg front_rgbd_to_scan_topic)
    marking: true
    clearing: true

static_map_layer:
  enabled: true
  lethal_cost_threshold: 94
  map_topic: map
  unknown_cost_value: 1
  trinary_costmap: false
  use_maximum: false