<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">


	<xacro:include filename="$(find ur_description)/urdf/inc/ur10e_macro.xacro" />
  <xacro:include filename="$(find rbvogui_description)/urdf/inertia.urdf.xacro" />

  <xacro:property name="M_PI" value="3.1415926535897931" />
  
  <xacro:macro name="bi_arm_support" params="prefix parent load_kinematics_file *origin hq">

    <!-- G2 -->
    <joint name="${prefix}G2_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}G2_link"/>
      <xacro:insert_block name="origin" />
    </joint>

    <link name="${prefix}G2_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 ${M_PI/2.0}" />
        <geometry>
          <mesh filename="package://rbvogui_description/meshes/structures/bi_arm_support.stl" />
        </geometry>
        <material name="lightblack">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 ${M_PI/2.0}" />
        <geometry>
          <mesh filename="package://rbvogui_description/meshes/structures/bi_arm_support.stl" />
        </geometry>
      </collision>

      <inertial>
        <mass value="5" />
        <origin xyz="0 0 0" rpy="0 0 ${M_PI/2.0}"/>
        <xacro:solid_cuboid_inertia  w="0.4" h="0.4" d="0.2" m="5"/>
      </inertial>
    </link>

    <gazebo reference="${prefix}G2_link">
      <visual>  
        <material>  
          <ambient>0.0 0.0 0.0 1.0</ambient>  
          <diffuse>0.2 0.2 0.2 1.0</diffuse>  
          <specular>0.508273 0.508273 0.508273 1.0</specular>  
          <emissive>0.0 0.0 0.0 0.0</emissive>  
        </material>  
      </visual>  
    </gazebo>

    <!-- Left UR10 -->
    
    <xacro:if value="${load_kinematics_file}">
      <joint name="${prefix}left_arm_base_joint" type="fixed">
        <origin xyz="0 0.09549 0.14538" rpy="-0.9 0 0"/>
        <parent link="${prefix}G2_link" />
        <child link="${prefix}left_arm_base_link" />
      </joint>

      <xacro:ur10e_robot prefix="${prefix}left_arm_"                     
                kinematics_parameters_file="$(find rbvogui_control)/config/calibration/ur10_calibration.yaml"
                joint_limits_parameters_file="$(find rbvogui_control)/config/calibration/ur10_joint_limits.yaml">
      </xacro:ur10e_robot>
    </xacro:if>

    <xacro:unless value="${load_kinematics_file}">
      <joint name="${prefix}left_arm_base_joint" type="fixed">
        <origin xyz="0 0.09549 0.14538" rpy="-0.9 0 0"/>
        <parent link="${prefix}G2_link" />
        <child link="${prefix}left_arm_base_link" />
      </joint>

      <xacro:ur10e_robot prefix="${prefix}left_arm_" >
      </xacro:ur10e_robot>
    </xacro:unless>

    <!-- Right UR10 -->

    <xacro:if value="${load_kinematics_file}">
      <joint name="${prefix}right_arm_base_joint" type="fixed">
        <origin xyz="0 -0.09549 0.14538" rpy="-0.9 0 ${M_PI}"/>
        <parent link="${prefix}G2_link" />
        <child link="${prefix}right_arm_base_link" />
      </joint>

      <xacro:ur10e_robot prefix="${prefix}right_arm_"                 
                kinematics_parameters_file="$(find rbvogui_control)/config/calibration/ur10_calibration.yaml"
                joint_limits_parameters_file="$(find rbvogui_control)/config/calibration/ur10_joint_limits.yaml">
      </xacro:ur10e_robot>
    </xacro:if>

    <xacro:unless value="${load_kinematics_file}">
      <joint name="${prefix}right_arm_base_joint" type="fixed">
        <origin xyz="0 -0.09549 0.14538" rpy="-0.9 0 ${M_PI}"/>
        <parent link="${prefix}G2_link" />
        <child link="${prefix}right_arm_base_link" />
      </joint>

      <xacro:ur10e_robot prefix="${prefix}right_arm_">
      </xacro:ur10e_robot>
    </xacro:unless>
  
  </xacro:macro>

</robot>
