<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="omni_steering">
		<gazebo>
	    <plugin name="omni_steering" filename="libgazebo_ros_planar_move.so">
		  <robotNamespace>/robot</robotNamespace>
	      <commandTopic>robotnik_base_control/cmd_vel</commandTopic>  
	      <odometryTopic>robotnik_base_control/odom</odometryTopic>
	      <odometryFrame>odom</odometryFrame>
	      <odometryRate>20.0</odometryRate>
	      <robotBaseFrame>base_footprint</robotBaseFrame>
	    </plugin>
	  </gazebo>
  </xacro:macro>

  <xacro:macro name="omni_drive_ackermann">
		<gazebo>
		<plugin name="omni_drive_ackermann" filename="libomnidrive_ackermann_plugin.so">
			<!--<robotNamespace>/rbsherpa</robotNamespace>-->
			<!--<robotParam>robot_description</robotParam>-->
			<broadcastTF>1</broadcastTF>
			<wheelDiameter>0.220</wheelDiameter>
			<wheelBase>0.858</wheelBase>
			<trackWidth>0.454</trackWidth>
			<wheelTorque>44.2</wheelTorque>
			<motorWheelTorque>15.0</motorWheelTorque>			
			<commandTopic>cmd_vel</commandTopic>  <!-- TODO: review topics -->
			<odometryTopic>odom</odometryTopic>
			<odometryFrame>odom</odometryFrame>
			<odometrySource>encoder</odometrySource>
			<robotBaseFrame>base_footprint</robotBaseFrame>
			<updateRate>100.0</updateRate>
		</plugin>
		</gazebo>
  </xacro:macro>
	  

  <gazebo reference="base_footprint">
    <material>Gazebo/Green</material>
  </gazebo>
  

</robot>
