<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find rbsherpa_description)/urdf/bases/rbsherpa_base.gazebo.xacro" />
  <xacro:include filename="$(find rbsherpa_description)/urdf/inertia.urdf.xacro" />

  <xacro:macro name="rbsherpa_base" params="prefix publish_bf hq">

    <!-- Robot mechanical and motor parameters -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="wheel_width" value="0.146" />

    <!-- BASE FOOTPRINT -->
    <xacro:if value="${publish_bf}">
      <link name="${prefix}base_footprint">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <box size="0.001 0.001 0.001" />
          </geometry>
        </visual>
      </link>

      <joint name="${prefix}base_footprint_joint" type="fixed">
        <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" />
        <!-- ${wheel_radius} property must be defined inside wheel description -->
        <parent link="${prefix}base_footprint"/>
        <child link="${prefix}base_link" />
      </joint>
    </xacro:if>

    <!-- BASE_LINK -->
    <link name="${prefix}base_link">
      <inertial>
        <mass value="25.0" />
        <origin xyz="0 0 0.376" />
        <!--inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" /-->
        <solid_cuboid_inertia  w="1.265" h="0.812" d="0.465" m="25"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <xacro:if value="${hq}">
          <geometry>
            <mesh filename="package://rbsherpa_description/meshes/bases/rbsherpa_xl_base.stl"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${hq}">
          <geometry>
            <mesh filename="package://rbsherpa_description/meshes/bases/rbsherpa_xl_base.stl"/>
          </geometry>
        </xacro:unless>
        <material name="darkgrey">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0 " />
        <geometry>
          <mesh filename="package://rbsherpa_description/meshes/bases/rbsherpa_xl_base.stl"/>
        </geometry>
      </collision>
    </link>
    
    <!-- Logos -->
    <joint name="${prefix}base_logos_joint" type="fixed">
      <origin xyz="0 0 0.15" rpy="0 0 0 " />
      <parent link="${prefix}base_link"/>
      <child link="${prefix}base_logos_link" />
    </joint>

    <!-- Logos -->
    <link name="${prefix}base_logos_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <xacro:if value="${hq}">
          <geometry>
            <mesh filename="package://rbsherpa_description/meshes/bases/rbsherpa_logos_v3.stl" scale="1.23 1.23 1"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${hq}">
          <geometry>
            <mesh filename="package://rbsherpa_description/meshes/bases/rbsherpa_logos_v3.dae" scale="1.3 1.3 1"/>
          </geometry>
        </xacro:unless>
        <material name="lightgrey">
          <color rgba="0.9 0.9 0.9 1"/>
        </material>
      </visual>
    </link>

    <xacro:gazebo_color_base_link prefix="${prefix}"/>
    <xacro:gazebo_color_logo_link prefix="${prefix}"/>
  </xacro:macro>
</robot>
