<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="wheel_set" params="prefix parent *origin reflect hq">
    <xacro:include filename="$(find rbvogui_description)/urdf/wheels/steer_set.urdf.xacro"/>
    <xacro:include filename="$(find rbvogui_description)/urdf/wheels/wheel.urdf.xacro"/>

    <xacro:steer_set prefix="${prefix}" parent="${parent}" hq="${hq}">
      <xacro:insert_block name="origin" />
    </xacro:steer_set>

    <xacro:wheel prefix="${prefix}" parent="${prefix}set_wheel_link" reflect="${reflect}" hq="${hq}">
      <origin xyz="0 0 0.015" rpy="0 0 0" />
    </xacro:wheel>
  </xacro:macro>
</robot>
