<?xml version="1.0"?>
<!-- RBVogui v3.0 -->
<robot name="rbvogui" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- ***************** -->
    <!-- Imported elements -->
    <!-- ***************** -->

    <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

    <!-- Import rbvogui base elements-->
    <xacro:include filename="$(find rbvogui_description)/robots/macros/rbvogui_std.urdf.xacro" />

    <!-- Flag to select the high or low quality model -->
    <xacro:property name="hq" value="true" />
    <xacro:property name="publish_bf" value="true" />

    <xacro:arg name="robot_id" default="robot" />
    <xacro:arg name="prefix" default="$(arg robot_id)_" />
    <xacro:arg name="gpu" default="true" />
    <xacro:arg name="kinematics" default="omni" />
    <xacro:arg name="controllers" default="$(find rbvogui_gazebo)/config/omni_controller.yaml" />

    <xacro:rbvogui robot_id="$(arg robot_id)" prefix="$(arg prefix)" kinematics="$(arg kinematics)" gpu="$(arg gpu)" publish_bf="${publish_bf}" hq="${hq}"
                    controllers="$(arg controllers)"/>


    <!-- Cart -->
    <xacro:include filename="$(find rbvogui_description)/urdf/cart/robot_cart_connection.urdf.xacro" />
    <xacro:include filename="$(find rbvogui_description)/urdf/cart/cart_base.urdf.xacro" />
    <xacro:arg name="cart" default="false" />
    <xacro:arg name="connected" default="false" />

    <xacro:if value="$(arg cart)">
        <xacro:cart_connection prefix="$(arg prefix)cart_" connected="$(arg connected)" parent="$(arg prefix)base_link">
        </xacro:cart_connection>
        <xacro:if value="$(arg connected)">
            <xacro:cart_base prefix="$(arg prefix)cart_" connected="$(arg connected)" namespace="$(arg robot_id)">
            </xacro:cart_base>
        </xacro:if>
    </xacro:if>

</robot>