<?xml version="1.0"?>

<!-- RBVogui XL -->
<robot name="rbvogui" xmlns:xacro="http://wiki.ros.org/xacro">


    <!-- ***************** -->
    <!-- Imported elements -->
    <!-- ***************** -->

    <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

    <!-- Import rbvogui base elements-->
    <xacro:include filename="$(find rbvogui_description)/urdf/bases/rbvogui_xl_base.urdf.xacro" />

    <!-- Import rbvogui wheels -->
    <xacro:include filename="$(find rbvogui_description)/urdf/wheels/motor_wheel_xl.urdf.xacro" />

    <!-- Import arm structure -->
    <xacro:include filename="$(find rbvogui_description)/urdf/bases/bi_arm_support.urdf.xacro" />

    <!-- Import sick support -->
    <xacro:include filename="$(find rbvogui_description)/urdf/bases/sick_support.urdf.xacro" />

    <!-- Import sick protector -->
    <xacro:include filename="$(find rbvogui_description)/urdf/bases/sick_protector.urdf.xacro" />

    <!-- Import all available sensors -->
    <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="deg2rad" value="0.01745329251"/>

    <!-- Wheel parameters -->
    <xacro:property name="wheel_offset_x" value="0.4795" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
    <xacro:property name="wheel_offset_y" value="0.2925" />
    <xacro:property name="wheel_offset_z" value="0.0" />

    <!-- Bi-arm support parameters -->
    <xacro:property name="G2_offset_x" value="0.207" />
    <xacro:property name="G2_offset_y" value="0.0" />
    <xacro:property name="G2_offset_z" value="0.57188" />

    <!-- Flag to select the high or low quality model -->
    <xacro:property name="hq" value="true" />
    <xacro:property name="publish_bf" value="true" />

    <xacro:arg name="prefix" default="robot_" />
    <xacro:arg name="launch_arm" default="false" />
    <xacro:arg name="load_kinematics_file" default="false" />
    <xacro:arg name="gpu" default="false" />


    <xacro:macro name="rbvogui" params="prefix launch_arm load_kinematics_file publish_bf hq gpu">

        <!-- *************** -->
        <!-- Robots Elements -->
        <!-- *************** -->

        <!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

        <xacro:rbvogui_base prefix="${prefix}" publish_bf="${publish_bf}" hq="${hq}"/>

        <xacro:motor_wheel prefix="${prefix}front_right_" parent="${prefix}base_link" reflect="true" hq="${hq}">
            <origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:motor_wheel>

        <xacro:motor_wheel prefix="${prefix}front_left_" parent="${prefix}base_link" reflect="false" hq="${hq}"> <!-- good -->
            <origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:motor_wheel>

        <xacro:motor_wheel prefix="${prefix}back_left_" parent="${prefix}base_link" reflect="false" hq="${hq}"> <!-- good -->
            <origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:motor_wheel>

        <xacro:motor_wheel prefix="${prefix}back_right_" parent="${prefix}base_link" reflect="true" hq="${hq}">
            <origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:motor_wheel>

        <!-- ARM  -->
        <xacro:if value="$(arg launch_arm)">
          <xacro:bi_arm_support prefix="${prefix}" parent="${prefix}base_link" hq="true" load_kinematics_file="${load_kinematics_file}">
              <origin xyz="${G2_offset_x} ${G2_offset_y} ${G2_offset_z}" rpy="0 0 ${90*PI/180}"/>
          </xacro:bi_arm_support>
        </xacro:if>

        <!-- SENSORS see robotnik_sensors for the specific configuration -->

        <!-- IMU -->
        <xacro:sensor_imu_hector prefix="${prefix}imu" parent="${prefix}base_link">
            <origin xyz="0.3 0.0 0.3" rpy="0 0 0"/>
        </xacro:sensor_imu_hector>
        <!-- GPS -->
        <xacro:sensor_gps prefix="${prefix}gps" parent="${prefix}base_link">
            <origin xyz="-0.04625 0.0 0.59188" rpy="0 0 0"/>
        </xacro:sensor_gps>
        
        <!-- Camera Zed -->
        <xacro:sensor_zed prefix="${prefix}zed" parent="${prefix}base_link" model="zed2">
            <origin xyz="0.66135 0 0.31585" rpy="0 0 0"/>
        </xacro:sensor_zed>

        <!-- Lidar -->
        <xacro:sensor_rs_bpearl prefix="${prefix}front_3d_laser" parent="${prefix}base_link" prefix_topic="front_3d_laser" range_min="0.1" range_max="90" hfov="360" samples="1200" vfov="90.0" lasers="32" fps="15" gpu="${gpu}">
            <origin xyz="0.645 0 0.52032" rpy="0 ${90*PI/180} 0"/>
        </xacro:sensor_rs_bpearl>

        <!-- laser sick support-->
        <xacro:sick_support prefix="${prefix}sick_front_support" parent="${prefix}base_link">
            <origin xyz="0.472 0.3795 0.3774" rpy="0 ${90*PI/180} ${90*PI/180}"/>
        </xacro:sick_support>
        <xacro:sick_support prefix="${prefix}sick_rear_support" parent="${prefix}base_link">
            <origin xyz="-0.472 -0.3795 0.3774" rpy="0 ${90*PI/180} -${90*PI/180}"/>
        </xacro:sick_support>

        <!-- laser sick protector-->
        <xacro:sick_protector prefix="${prefix}sick_front_protector" parent="${prefix}base_link">
            <origin xyz="0.645 0.396 0.39025" rpy="0 0 -${45*PI/180}"/>
        </xacro:sick_protector>
        <xacro:sick_protector prefix="${prefix}sick_rear_protector" parent="${prefix}base_link">
            <origin xyz="-0.645 -0.396 0.39025" rpy="0 0 ${135*PI/180}"/>
        </xacro:sick_protector>

        <!-- Laser -->   
        <xacro:sensor_sick_microscan3 prefix="${prefix}front_laser" parent="${prefix}base_link" prefix_topic="front_laser" gpu="${gpu}">
            <origin xyz="0.645 0.396 0.44559" rpy="${PI} 0 ${45*PI/180}"/>
        </xacro:sensor_sick_microscan3>
        <xacro:sensor_sick_microscan3 prefix="${prefix}rear_laser" parent="${prefix}base_link" prefix_topic="rear_laser" gpu="${gpu}">
            <origin xyz="-0.645 -0.396 0.44559" rpy="${PI} 0 -${135*PI/180}"/>
        </xacro:sensor_sick_microscan3>

    </xacro:macro>


    <!-- Gazebo ros control pluggins -->
    <xacro:ros_control/>

    <xacro:rbvogui prefix="$(arg prefix)" publish_bf="${publish_bf}" hq="${hq}" launch_arm="$(arg launch_arm)" load_kinematics_file="$(arg load_kinematics_file)" gpu="$(arg gpu)"/>

</robot>
