<?xml version="1.0"?>

<!-- RBVogui v3.0 -->
<robot name="rbvogui" 
    xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- ***************** -->
    <!-- Imported elements -->
    <!-- ***************** -->

    <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

    <!-- Import rbvogui base elements-->
    <xacro:include filename="$(find rbvogui_description)/urdf/bases/rbvogui_base.urdf.xacro" />

    <!-- Import rbvogui wheels -->
    <xacro:include filename="$(find rbvogui_description)/urdf/wheels/motor_wheel.urdf.xacro" />

    <!-- Import all available sensors -->
    <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

    <!-- Import rg2 -->
    <xacro:include filename="$(find rg2_gripper_description)/urdf/rg2_gripper.urdf.xacro" />

    <!-- Include UR-10 ARM -->
    <xacro:include filename="$(find ur_description)/urdf/inc/ur10_macro.xacro" />

    <xacro:property name="arm_position_x" value="0.0"/>
    <xacro:property name="arm_position_y" value="0"/>
    <xacro:property name="arm_position_z" value="0.2595"/>
    <xacro:property name="arm_orientation_r" value="0"/>
    <xacro:property name="arm_orientation_p" value="0"/>
    <xacro:property name="arm_orientation_y" value="0"/>
    <xacro:arg name="load_kinematics_file" default="false"/>
    <!-- Necesarry for ur_description compatible with official ur drivers-->

    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="deg2rad" value="0.01745329251"/>

    <!-- Wheel parameters -->
    <xacro:property name="wheel_offset_x" value="0.380" />
    <!-- x,y,z in translation from base_link to the center of the wheel -->
    <xacro:property name="wheel_offset_y" value="0.23975" />
    <xacro:property name="wheel_offset_z" value="0.0" />

    <!-- Flag to select the high or low quality model -->
    <xacro:property name="hq" value="true" />
    <xacro:property name="publish_bf" value="true" />

    <xacro:arg name="prefix" default="robot_" />



    <xacro:macro name="rbvogui" params="prefix publish_bf load_kinematics_file hq">

        <!-- *************** -->
        <!-- Robots Elements -->
        <!-- *************** -->

        <!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

        <xacro:rbvogui_base prefix="${prefix}" publish_bf="${publish_bf}" hq="${hq}"/>

        <xacro:motor_wheel prefix="${prefix}front_right_" parent="${prefix}base_link" reflect="false" hq="${hq}">
            <origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:motor_wheel>

        <xacro:motor_wheel prefix="${prefix}front_left_" parent="${prefix}base_link" reflect="true" hq="${hq}">
            <origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:motor_wheel>

        <xacro:motor_wheel prefix="${prefix}back_left_" parent="${prefix}base_link" reflect="true" hq="${hq}">
            <origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:motor_wheel>

        <xacro:motor_wheel prefix="${prefix}back_right_" parent="${prefix}base_link" reflect="false" hq="${hq}">
            <origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:motor_wheel>

        <!-- SENSORS see robotnik_sensors for the specific configuration -->

        <!-- IMU -->
        <xacro:sensor_vectornav prefix="${prefix}imu" parent="${prefix}chassis_link">
            <origin xyz="0.3 -0.3 0.0725" rpy="0 0 0"/>
        </xacro:sensor_vectornav>

        <!-- Solid state laser -->
        <xacro:sensor_benewake_ce30c prefix="${prefix}front_ss_laser" parent="${prefix}chassis_link" gpu="false">
            <origin xyz="0.5657 0.0 -0.0153" rpy="0 0 0"/>
        </xacro:sensor_benewake_ce30c>

        <!-- 2d laser -->
        <xacro:sensor_sick_tim551 prefix="${prefix}front_laser" parent="${prefix}chassis_link"  min_angle="${-PI/2}" max_angle="${PI/2}" prefix_topic="front_laser">
            <origin xyz="0.53 0.0 -0.0245" rpy="${PI} 0 0"/> <!-- Verificar X -->
        </xacro:sensor_sick_tim551>

        <!-- UR-10 ARM -->
        <xacro:if value="${load_kinematics_file}">
            <xacro:ur10_robot prefix="${prefix}arm_" 
                    kinematics_parameters_file="$(find rbvogui_control)/config/calibration/ur10_calibration.yaml"
                    joint_limits_parameters_file="$(find rbvogui_control)/config/calibration/ur10_joint_limits.yaml">
            </xacro:ur10_robot>

            <joint name="${prefix}arm_base_joint" type="fixed">
                <origin xyz="${arm_position_x} ${arm_position_y} ${arm_position_z}" rpy="${arm_orientation_r} ${arm_orientation_p} ${arm_orientation_y}"/>
                <parent link="${prefix}chassis_link" />
                <child link="${prefix}arm_base_link" />
            </joint>
        </xacro:if>

        <xacro:unless value="${load_kinematics_file}">
            <xacro:ur10_robot prefix="${prefix}arm_">
            </xacro:ur10_robot>

            <joint name="${prefix}arm_base_joint" type="fixed">
                <origin xyz="${arm_position_x} ${arm_position_y} ${arm_position_z}" rpy="${arm_orientation_r} ${arm_orientation_p} ${arm_orientation_y}"/>
                <parent link="${prefix}chassis_link" />
                <child link="${prefix}arm_base_link" />
            </joint>
        </xacro:unless>

        <!-- OnRobot rg2 -->
        <xacro:rg2_gripper prefix="$(arg prefix)rg2_gripper" parent="$(arg prefix)arm_tool0">
            <origin xyz="0.0 0.0 0.0" rpy="0 -${pi/2} 0"/>
        </xacro:rg2_gripper>

    </xacro:macro>


    <!-- Gazebo ros control pluggins -->
    <xacro:ros_control/>

    <xacro:rbvogui prefix="$(arg prefix)" load_kinematics_file="$(arg load_kinematics_file)" publish_bf="${publish_bf}" hq="${hq}"/>

</robot>