<?xml version="1.0"?>

<!-- RBVogui v3.0 -->
<robot name="rbvogui" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- ***************** -->
    <!-- Imported elements -->
    <!-- ***************** -->

    <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

    <!-- Import rbvogui base elements-->
    <xacro:include filename="$(find rbvogui_description)/urdf/bases/rbvogui_base_v3.urdf.xacro" />

    <!-- Import rbvogui wheels -->
    <xacro:include filename="$(find rbvogui_description)/urdf/wheels/motor_wheel.urdf.xacro" />
    <xacro:include filename="$(find rbvogui_description)/urdf/wheels/wheel_v3.urdf.xacro" />

    <!-- Import all available sensors -->
    <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="deg2rad" value="0.01745329251"/>

    <!-- Wheel parameters -->
    <xacro:property name="wheel_offset_x" value="0.380" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
    <xacro:property name="wheel_offset_y" value="0.23975" />
    <xacro:property name="wheel_offset_z" value="0.0" />

    <!-- Flag to select the high or low quality model -->
    <xacro:property name="hq" value="true" />
    <xacro:property name="publish_bf" value="true" />

    <xacro:arg name="prefix" default="robot_" />
    <xacro:arg name="load_kinematics_file" default="false"/>


    <xacro:macro name="rbvogui" params="prefix publish_bf hq load_kinematics_file">

        <!-- *************** -->
        <!-- Robots Elements -->
        <!-- *************** -->

        <!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

        <xacro:rbvogui_base prefix="${prefix}" publish_bf="${publish_bf}" hq="${hq}"/>

        <xacro:motor_wheel prefix="${prefix}front_right_" parent="${prefix}base_link" reflect="false" hq="true">
            <origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:motor_wheel>

        <xacro:motor_wheel prefix="${prefix}front_left_" parent="${prefix}base_link" reflect="true" hq="true">
            <origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:motor_wheel>

        <xacro:motor_wheel prefix="${prefix}back_left_" parent="${prefix}base_link" reflect="true" hq="true">
            <origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:motor_wheel>

        <xacro:motor_wheel prefix="${prefix}back_right_" parent="${prefix}base_link" reflect="false" hq="true">
            <origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:motor_wheel>

        <!-- SENSORS see robotnik_sensors for the specific configuration -->

        <!-- IMU -->
        <xacro:sensor_imu_hector prefix="${prefix}imu" parent="${prefix}base_link">
            <origin xyz="0.3 0.3 0.250" rpy="0 0 0"/>
        </xacro:sensor_imu_hector>
        <!-- GPS -->
        <xacro:sensor_gps prefix="${prefix}gps" parent="${prefix}base_link">
            <origin xyz="-0.04625 0.0 1.115" rpy="0 0 0"/>
        </xacro:sensor_gps>
        <!-- 2d laser -->
        <xacro:sensor_sick_outdoorscan3 prefix="${prefix}front_laser" parent="${prefix}base_link" prefix_topic="front_laser">
            <origin xyz="0.5307 0.0 0.15389" rpy="${180*deg2rad} 0 0"/>
        </xacro:sensor_sick_outdoorscan3>

    </xacro:macro>


    <!-- Gazebo ros control pluggins -->
    <xacro:ros_control/>

    <xacro:rbvogui prefix="$(arg prefix)" load_kinematics_file="$(arg load_kinematics_file)" publish_bf="${publish_bf}" hq="${hq}"/>

</robot>
