<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cart">

  <xacro:include filename="$(find rbvogui_description)/urdf/cart/cart_base.urdf.xacro" />
  <!-- <xacro:include filename="$(find rbvogui_description)/urdf/cart/markers.urdf.xacro" /> -->

  <xacro:arg name="prefix" default="robot_" />
  <xacro:arg name="connected" default="false" />
  <xacro:arg name="namespace" default="robot" />

  <xacro:cart_base prefix="$(arg prefix)" connected="$(arg connected)" namespace="$(arg namespace)">
  </xacro:cart_base>

  <!-- <xacro:markers prefix="${prefix}"/> -->


</robot>