<?xml version="1.0"?>
<launch>

		<arg name="id_robot" default="rbsherpa"/>
    <arg name="prefix" default="$(arg id_robot)_"/>
    <arg name="kinematics" default="ackermann" />
    <arg name="sim" default="false"/>
		<arg name="launch_robot_localization" default="false"/>
    
      <rosparam file="$(find rbsherpa_control)/config/rbsherpa_control_$(arg kinematics)_sim.yaml" command="load"/>

        <!-- load the planar ros controllers by urdf -->
        <!-- Controller spawner for ackermann model -->
        <node name="controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn base_controller" respawn="false" output="screen"/>

        <node name="base_joint_read_state_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_read_state_controller" respawn="false" output="screen"/>
        <node name="base_joint_read_command_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_read_command_controller" respawn="false" output="screen"/>


        <node name="pantilt_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn pantilt_tilt_controller" respawn="false" output="screen"/>
        <node name="panpan_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn pantilt_pan_controller" respawn="false" output="screen"/>
</launch>
