<?xml version="1.0"?>
<robot name="rbsherpa" 
	xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<xacro:include filename="$(find rbsherpa_description)/urdf/rbsherpa_base.urdf.xacro" />
	<xacro:include filename="$(find rbsherpa_description)/urdf/common.gazebo.xacro" />

	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

	<xacro:property name="prefix" value="" />
	<xacro:property name="publish_bf" value="true" />
	<xacro:property name="hq" value="true" />

	<xacro:rbsherpa_base prefix="${prefix}" publish_bf="${publish_bf}" hq="${hq}"/>
	<xacro:ros_control />

</robot>
