<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="ros2_control" params="prefix">
        <gazebo>
          <plugin name="ros_control" filename="libgazebo_ros2_control.so">
            <namespace>robot</namespace>
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find rbvogui_gazebo)/config/base_controller.yaml</parameters>
          </plugin>
        </gazebo>

        <xacro:macro name="ros2_joint" params="interface jmin jmax prefix name">
          <joint name="${prefix}${name}">
            <command_interface name="${interface}">
              <param name="min">${jmin}</param>
              <param name="max">${jmax}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
          </joint>
        </xacro:macro>

        <ros2_control name="GazeboSystem" type="system">
          <hardware>
              <plugin>gazebo_ros2_control/GazeboSystem</plugin>
          </hardware>

          <xacro:ros2_joint interface="position" jmin="-2" jmax="2" prefix="${prefix}" name="front_left_steering_joint"/>
          <xacro:ros2_joint interface="position" jmin="-2" jmax="2" prefix="${prefix}" name="front_right_steering_joint"/>
          <xacro:ros2_joint interface="position" jmin="-2" jmax="2" prefix="${prefix}" name="back_left_steering_joint"/>
          <xacro:ros2_joint interface="position" jmin="-2" jmax="2" prefix="${prefix}" name="back_right_steering_joint"/>

          <xacro:ros2_joint interface="velocity" jmin="-10" jmax="10" prefix="${prefix}" name="front_left_wheel_joint"/>
          <xacro:ros2_joint interface="velocity" jmin="-10" jmax="10" prefix="${prefix}" name="front_right_wheel_joint"/>
          <xacro:ros2_joint interface="velocity" jmin="-20" jmax="20" prefix="${prefix}" name="back_left_wheel_joint"/>
          <xacro:ros2_joint interface="velocity" jmin="-20" jmax="20" prefix="${prefix}" name="back_right_wheel_joint"/>
        </ros2_control>
    </xacro:macro>
</robot>
