<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="rbvogui_base" params="prefix hq">
    <xacro:property name="PI" value="3.1415926535897931"/>

    <xacro:macro name="cuboid_inertia" params="m w h d">
      <inertia ixx="${m*(h*h+d*d)/12}" ixy = "0" ixz = "0" iyy="${m*(w*w+h*h)/12}" iyz = "0" izz="${m*(w*w+d*d)/12}" />
    </xacro:macro>

    <!-- BASE_LINK -->
    <link name="${prefix}case_link">
      <inertial>
        <mass value="150.0" />
        <origin xyz="0 0 0.028" />
        <xacro:cuboid_inertia m="150.0" d="0.6" h="0.23" w="1.0" />
      </inertial>

      <visual>
        <origin xyz="0 0 -0.168" rpy="0 0 0" />
        <xacro:if value="${hq}">
          <geometry>
            <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_chassis_v3.stl"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${hq}">
          <geometry>
            <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_chassis_v3.dae"/>
          </geometry>
        </xacro:unless>
        <material name="darkgrey">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 -0.168" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_chassis_v3.dae"/>
        </geometry>
      </collision>
    </link>

    <gazebo reference="${prefix}case_link">  
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Logos -->
    <joint name="${prefix}base_logos_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0 " />
      <parent link="${prefix}case_link"/>
      <child link="${prefix}case_logos_link" />
    </joint>

    <!-- Logos -->
    <link name="${prefix}case_logos_link">
      <visual>
        <origin xyz="0 0 -0.168" rpy="0 0 0" />
        <xacro:if value="${hq}">
          <geometry>
            <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_logos_v3.stl" scale="1.0001 1.007 1.0001"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${hq}">
          <geometry>
            <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_logos_v3.dae" scale="1.0001 1.007 1.0001"/>
          </geometry>
        </xacro:unless>
        <material name="lightred">
          <color rgba="0.9 0.2 0.2 1"/>
        </material>
      </visual>
    </link>
    
    <gazebo reference="${prefix}case_logos_link">
      <material>Gazebo/Red</material>
    </gazebo>

  </xacro:macro>
</robot>
