<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:include filename="$(find rbvogui_description)/urdf/bases/rbvogui_base.gazebo.xacro" />

  <xacro:macro name="rbvogui_base" params="prefix publish_bf hq">

    <!-- Robot mechanical and motor parameters -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="wheel_width" value="0.146" />


    <!-- BASE FOOTPRINT -->
    <xacro:if value="${publish_bf}">
      <link name="${prefix}base_footprint">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <box size="0.001 0.001 0.001" />
          </geometry>
        </visual>
      </link>

      <joint name="${prefix}base_footprint_joint" type="fixed">
        <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" />
        <!-- ${wheel_radius} property must be defined inside wheel description -->
        <parent link="${prefix}base_footprint"/>
        <child link="${prefix}base_link" />
      </joint>
    </xacro:if>


    <!-- BASE_LINK -->
    <link name="${prefix}base_link"/>

    <!-- Chassis -->
    <joint name="${prefix}chassis_joint" type="fixed">
      <origin xyz="0 0 0.24117" rpy="0 0 0 " /> <!-- Modificar para cada vogui -->
      <parent link="${prefix}base_link"/>
      <child link="${prefix}chassis_link" />
    </joint>


    <!-- Chassis -->
    <link name="${prefix}chassis_link">
      <inertial>
        <mass value="25.0" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <xacro:if value="${hq}">
          <geometry>
            <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_6w_chassis.stl"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${hq}">
          <geometry>
            <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_6w_chassis.stl"/>
          </geometry>
        </xacro:unless>
        <material name="darkgrey">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0 " />
        <geometry>
          <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_6w_chassis.stl"/>
        </geometry>
      </collision>
    </link>


    <!-- Battery -->
    <joint name="${prefix}battery_joint" type="fixed">
      <origin xyz="0.02952 0 0" rpy="0 0 0 " /> <!-- To do: check and set new battery stl from origin -->
      <parent link="${prefix}chassis_link"/>
      <child link="${prefix}battery_link" />
    </joint>

    <!-- Battery -->
    <link name="${prefix}battery_link">
      <inertial>
        <mass value="20.0" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <xacro:if value="${hq}">
          <geometry>
             <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_battery.stl"/>

          </geometry>
        </xacro:if>
        <xacro:unless value="${hq}">
          <geometry>
             <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_battery.stl"/> 

          </geometry>
        </xacro:unless>
        <material name="darkgrey">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0 " />
        <geometry>
           <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_battery.stl"/> 
        </geometry>
      </collision>
    </link>


    <!-- Contactors -->
    <joint name="${prefix}contactors_joint" type="fixed">
      <origin xyz="0.5235 0 0.09265" rpy="0 0 0 " /> <!-- To do: check -->
      <parent link="${prefix}chassis_link"/>
      <child link="${prefix}contactors_link" />
    </joint>

    <!-- Contactors -->
    <link name="${prefix}contactors_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <xacro:if value="${hq}">
          <geometry>
            <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_contactors.stl" />
          </geometry>
        </xacro:if>
        <xacro:unless value="${hq}">
          <geometry>
            <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_contactors.stl" />
          </geometry>
        </xacro:unless>
        <material name="lighbrown">
          <color rgba="0.7 0.3 0.0 1"/>
        </material>
      </visual>
    </link>


    <!-- Logos -->
    <joint name="${prefix}base_logos_joint" type="fixed">
      <origin xyz="0 0 -0.1775" rpy="0 0 0 " />
      <parent link="${prefix}chassis_link"/>
      <child link="${prefix}base_logos_link" />
    </joint>

    <!-- Logos -->
    <link name="${prefix}base_logos_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <xacro:if value="${hq}">
          <geometry>
            <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_logos.stl" scale="1.001 1.001 1.001"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${hq}">
          <geometry>
            <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_logos.dae" scale="1.001 1.001 1.001"/>
          </geometry>
        </xacro:unless>
        <material name="lightgrey">
          <color rgba="0.9 0.9 0.9 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0 " />
        <geometry>
          <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_logos.stl" scale="1.001 1.001 1.001"/>
        </geometry>
      </collision>
    </link>


    <!-- Leds -->
    <joint name="${prefix}leds_joint" type="fixed">
      <origin xyz="0 0 0.1025" rpy="0 0 0 " /> <!-- To do: check -->
      <parent link="${prefix}chassis_link"/>
      <child link="${prefix}leds_link" />
    </joint>

    <link name="${prefix}leds_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0.0" />
          <geometry>
              <mesh filename="package://rbvogui_description/meshes/bases/rbvogui_leds.stl" />
          </geometry>
        <material name="lightgreen">
          <color rgba="0.1 1.0 0.1 1"/>
        </material>
      </visual>
    </link>

    <xacro:gazebo_color_base_link prefix="${prefix}"/>
    <xacro:gazebo_color_battery_link prefix="${prefix}"/>
    <xacro:gazebo_color_chassis_link prefix="${prefix}"/>
    <xacro:gazebo_color_contactors_link prefix="${prefix}"/>
    <xacro:gazebo_color_logo_link prefix="${prefix}"/>
    <xacro:gazebo_color_leds_link prefix="${prefix}"/>

  </xacro:macro>
</robot>