<?xml version="1.0"?>

<!-- rbvogui v3.0 -->
<robot name="rbvogui" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- ***************** -->
    <!-- Imported elements -->
    <!-- ***************** -->

    <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

    <!-- Import rbvogui base elements-->
    <xacro:include filename="$(find rbvogui_description)/urdf/bases/rbvogui_6w_base.urdf.xacro" />

    <!-- Import rbvogui wheels -->
    <xacro:include filename="$(find rbvogui_description)/urdf/wheels/wheel_v3.urdf.xacro" />
    
    <!-- Structures -->
    <xacro:include filename="$(find rbvogui_description)/urdf/structures/rocker.urdf.xacro" /> 
    <xacro:include filename="$(find rbvogui_description)/urdf/structures/basket.urdf.xacro" />
    
    <!-- Import all available sensors -->
    <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="deg2rad" value="0.01745329251"/>

    <!-- Rocker parameters -->
    <xacro:property name="rocker_offset_x" value="0.225" />    
    <xacro:property name="rocker_offset_y" value="0.24295" />    
    <xacro:property name="rocker_offset_z" value="0.130" />    
    
    <!-- RS-Lidar -->
    <xacro:property name="top_lidar_offset_x" value="0.343" />
    <xacro:property name="top_lidar_offset_y" value="0.0" />
    <xacro:property name="top_lidar_offset_z" value="1.302" />
  
    <!-- Basket parameters -->
    <xacro:property name="basket_offset_x" value="0.0" />    
    <xacro:property name="basket_offset_y" value="0.0" />    
    <xacro:property name="basket_offset_z" value="0.486" />     
    
    <!-- Wheel parameters -->
    <xacro:property name="wheel_offset_x" value="0.450" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
    <xacro:property name="wheel_offset_y" value="0.34172" />
    <xacro:property name="wheel_offset_z" value="0.0" />
    <xacro:property name="rocker_wheel_offset_y" value="0.09877" />
    
    <!-- Flag to select the high or low quality model -->
    <xacro:property name="hq" value="true" />
    <xacro:property name="publish_bf" value="true" />

    <xacro:arg name="prefix" default="robot_" />
    <xacro:property name="gpu" default="false" />



    <xacro:macro name="rbvogui" params="prefix publish_bf hq gpu">

        <!-- *************** -->
        <!-- Robots Elements -->
        <!-- *************** -->

        <!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

        <xacro:rbvogui_base prefix="${prefix}" publish_bf="${publish_bf}" hq="${hq}"/>

        <xacro:wheel prefix="${prefix}front_right_" parent="${prefix}right_rocker_link" reflect="false" hq="true">
            <origin xyz="${rocker_offset_x} -${rocker_wheel_offset_y} -${rocker_offset_z}" rpy="0 0 0"/>
        </xacro:wheel>

        <xacro:wheel prefix="${prefix}front_left_" parent="${prefix}left_rocker_link" reflect="false" hq="true">
            <origin xyz="${rocker_offset_x} ${rocker_wheel_offset_y} -${rocker_offset_z}" rpy="0 0 0"/>
        </xacro:wheel>

        <xacro:wheel prefix="${prefix}middle_right_" parent="${prefix}right_rocker_link" reflect="false" hq="true">
            <origin xyz="-${rocker_offset_x} -${rocker_wheel_offset_y} -${rocker_offset_z}" rpy="0 0 0"/>
        </xacro:wheel>

        <xacro:wheel prefix="${prefix}middle_left_" parent="${prefix}left_rocker_link" reflect="false" hq="true">
            <origin xyz="-${rocker_offset_x} ${rocker_wheel_offset_y} -${rocker_offset_z}" rpy="0 0 0"/>
        </xacro:wheel>

        <xacro:wheel prefix="${prefix}back_left_" parent="${prefix}base_link" reflect="false" hq="true">
            <origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:wheel>

        <xacro:wheel prefix="${prefix}back_right_" parent="${prefix}base_link" reflect="false" hq="true">
            <origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:wheel>

        <!-- STRUCTURES -->
        <xacro:structure_rocker prefix="${prefix}left_rocker_" parent="${prefix}base_link">
            <origin xyz="${rocker_offset_x} ${rocker_offset_y} ${rocker_offset_z}" rpy="0 0 0"/>
        </xacro:structure_rocker>

        <xacro:structure_rocker prefix="${prefix}right_rocker_" parent="${prefix}base_link">
            <origin xyz="${rocker_offset_x} -${rocker_offset_y} ${rocker_offset_z}" rpy="0 0 0"/>
        </xacro:structure_rocker>

        <xacro:structure_basket prefix="${prefix}" parent="${prefix}base_link">
            <origin xyz="${basket_offset_x} ${basket_offset_y} ${basket_offset_z}" rpy="0 0 0"/>
        </xacro:structure_basket>

        <!-- SENSORS see robotnik_sensors for the specific configuration -->

        <!-- IMU -->
        <xacro:sensor_imu_hector prefix="${prefix}imu" parent="${prefix}base_link">
            <origin xyz="0.3 0.3 0.250" rpy="0 0 0"/>
        </xacro:sensor_imu_hector>

        <!-- GPS -->
        <xacro:sensor_gps prefix="${prefix}gps" parent="${prefix}base_link">
            <origin xyz="0.344 -0.128 1.212" rpy="0 0 0"/>
        </xacro:sensor_gps>

        <!-- RS-Lidar -->
        <xacro:sensor_rslidar_16 prefix="${prefix}top_3d_laser" parent="${prefix}base_link" prefix_topic="top_3d_laser" gpu="${gpu}">
            <origin xyz="${top_lidar_offset_x} ${top_lidar_offset_y} ${top_lidar_offset_z}" rpy="0 0 0"/>
        </xacro:sensor_rslidar_16>

        <!-- 2D Laser -->
        <xacro:sensor_sick_tim551 prefix="${prefix}front_laser" parent="${prefix}base_link" gpu="${gpu}" min_angle="${-PI/2}" max_angle="${PI/2}" prefix_topic="front_laser">
            <origin xyz="0.45 0.0 0.22" rpy="${PI} 0 0"/>
        </xacro:sensor_sick_tim551>

    </xacro:macro>


    <!-- Gazebo ros control pluggins -->
    <xacro:ros_control/>

    <xacro:rbvogui prefix="$(arg prefix)" publish_bf="${publish_bf}" hq="${hq}" gpu="${gpu}"/>

</robot>