<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ***************** -->
  <!-- Imported elements -->
  <!-- ***************** -->

  <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

  <xacro:include filename="$(find rbsherpa_description)/urdf/bases/base.urdf.xacro" />
  <xacro:include filename="$(find rbsherpa_description)/urdf/bases/base.gazebo.xacro" />

  <xacro:include filename="$(find rbsherpa_description)/urdf/wheels/motor_wheel.urdf.xacro" />
  <xacro:include filename="$(find rbsherpa_description)/urdf/wheels/wheel.urdf.xacro" />

  <!-- Import all available sensors -->
  <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

  <!-- ***************** -->
  <!-- Global parameters -->
  <!-- ***************** -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="deg2rad" value="0.01745329251"/>

  <!-- Wheel parameters -->
  <xacro:property name="wheel_offset_x" value="0.429" />
  <!-- x,y,z in translation from base_link to the center of the wheel -->
  <xacro:property name="wheel_offset_y" value="0.227" />
  <xacro:property name="wheel_offset_z" value="0.0" />

  <!-- *************** -->
  <!-- Robots Elements -->
  <!-- *************** -->

  <!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

  <xacro:macro name="sherpa_base" params="prefix publish_bf hq">
    <xacro:base prefix="${prefix}" publish_bf="${publish_bf}" hq="${hq}"/>

    <xacro:motor_wheel prefix="${prefix}front_right_" parent="${prefix}base_link" reflect="false" hq="true">
      <origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:motor_wheel>

    <xacro:motor_wheel prefix="${prefix}front_left_" parent="${prefix}base_link" reflect="false" hq="true">
      <origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 ${180.0*deg2rad}"/>
    </xacro:motor_wheel>

    <xacro:wheel prefix="${prefix}back_left_" parent="${prefix}base_link" reflect="false" hq="true">
      <origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 ${180.0*deg2rad}"/>
    </xacro:wheel>

    <xacro:wheel prefix="${prefix}back_right_" parent="${prefix}base_link" reflect="false" hq="true">
      <origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:wheel>

    <!-- SENSORS see robotnik_sensors for the specific configuration -->
    <xacro:sensor_imu_hector prefix="$(arg prefix)imu" parent="$(arg prefix)base_link">
      <!-- origin xyz="-0.18 0.0 0.170" rpy="0 0 0"/ -->
      <!-- origin xyz="-0.00 0.0 0.170" rpy="0 0 0"/ -->
      <origin xyz="0.3 0.3 0.250" rpy="0 0 0"/>
    </xacro:sensor_imu_hector>

    <xacro:sensor_gps prefix="$(arg prefix)gps" parent="$(arg prefix)base_link">
      <origin xyz="-0.22 0 0.275" rpy="0 0 0"/>
    </xacro:sensor_gps>

    <!--xacro:sensor_sick_s300 name="front_left" parent="${prefix}base_link">
      <origin xyz="0.606321 0.345821 0.3095" rpy="${180*deg2rad} 0 ${45*deg2rad}"/>
    </xacro:sensor_sick_s300>
        
    <xacro:sensor_sick_s300 name="back_right" parent="${prefix}base_link">
        <origin xyz="-0.606321 -0.345821 0.3095" rpy="${180*deg2rad} 0 ${235*deg2rad}"/>
    </xacro:sensor_sick_s300 -->
  </xacro:macro>
</robot>